@import "../../assets/styles/colors.scss";

.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.dashboard-sidebar {
    min-width: 150px;
}