@import "../../../assets/styles/colors.scss";

th {
    padding: 5px;
    background-color: var(--primary);
    color: white;
}

tbody {
    tr:hover {
        cursor: pointer;
        background-color: rgb(200, 230, 240);
    }
}

.admin-table-cell {
    width: auto;
    padding: 5px;
}

table {
    border-collapse: collapse;
    width: 90%;
}

table td, th {
    border: 1px solid lightgray;
}

tr:nth-child(even) {
    background-color: lightgray;
}