@import "../../../assets/styles/colors.scss";

table {
    width: 90%;
    border: 1px solid lightgray;
    border-radius: 10px;
    border-spacing: 0;
}

tr:nth-child(even) {
    background-color: lightgray;
}

thead tr th:first-child {
    border-top-left-radius: 10px;
}

thead tr th:last-child {
    border-top-right-radius: 10px;
}

table th {
    padding: 5px;
    background-color: var(--primary);
    color: white;
}

table td, table th {
    border-bottom: 1px solid lightgray;
}

table tr:last-child > td {
    border-bottom: none;
}

tbody {
    tr:hover {
        cursor: pointer;
        background-color: rgb(200, 230, 240);
    }
}

.admin-table-cell {
    width: auto;
    padding: 5px;
}